{% extends "layout.html.twig" %} {% set categorieMenu = true %} {% block title %}Catégories{% endblock %} {% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <thead>
        </thead>
        <div class="well">
            <form class="form-horizontal" role="form" action="/biere/resultats/" method="post">
                <div class="form-group">
                    <label class="col-sm-2 col-sm-offset-1 control-label">Type</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="categorieBiere">
                            {% for categorie in categories %}
                            <option value="{{ categorie.codeCat }}">{{ categorie.libelle }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-5">
                        <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-search"></span> Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
        {% endblock %}